<div id="header">
    <div id="title">
        <h1>{{pokeName | uppercase}}</h1>
    </div>
    <div id="back">
        <button mat-raised-button color="primary" (click)="goHome()">Back</button>
    </div>
</div>
<div id="buttons">
    <button mat-raised-button color="primary" (click)="showDetaillsFn()">Show detaills</button>
</div>
<div id="detaills" *ngIf="showDetaills">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="INFO">
            <p>Height: {{pokemon.height}}</p>
            <p>Weight: {{pokemon.weight}}</p>
            <p>Order: {{pokemon.order}}</p>
        </mat-tab>
        <mat-tab label="TYPES">
            <p *ngFor="let type of pokemon.types">
                {{type['type']['name'] | uppercase}}
            </p>
        </mat-tab>
        <mat-tab label="SPRITES">
            <h3>Front Sprite</h3>
            <img mat-card-image src="{{ pokemon.sprites['front_default'] }}" alt="Front Sprite">
            <h3>Back Sprite</h3>
            <img mat-card-image src="{{ pokemon.sprites['back_default'] }}" alt="Back Sprite">
            <h3>Front Shiny Sprite</h3>
            <img mat-card-image src="{{ pokemon.sprites['front_shiny'] }}" alt="Front Shiny Sprite">
        </mat-tab>

    </mat-tab-group>
</div>